<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Dower. Стартовая страница</title>

    <link rel="stylesheet" type="text/css" href="../static/neris/neris.css">
    <link rel="stylesheet" type="text/css" href="../static/main.style.css">
    <link rel="stylesheet" type="text/css" href="../static/semantic.css">


  <script src="../static/jquery-2.1.3.min.js"></script>
  <script src="../static/semantic.js"></script>

</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>