<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Br</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/static/main.style.css">




</head>
<body>

<nav>
    <header><a href="/"  title="Home">BMG</a></header>
    <a href="/creator">Create project</a>
    <a href="/generator">Code generator</a>
</nav>

{% block content %}
<h2>all is here</h2>
{% endblock %}

{% block bottom_scripts %}
{% endblock %}
</body>
</html>